body {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 1274px;
  height: 1550px;
}

.header {
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.header__link-container {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.header__link_left-position {
  display: flex;
  justify-content: space-around;
  width: 178px;
}

.header__link_right-position {
  display: flex;
  justify-content: space-between;
  width: 230px;
}

.header__link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.7;
}

.header__link:hover {
  opacity: 1;
}

.company-logo:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header__sign-in-button {
  width: 121px;
  height: 40px;
  background-color: #0059c1;
  border-radius: 12px;
  border-style: none;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}

.header__sign-in-button:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.2, 1.2);
}

.sign-in-button__link {
  text-decoration: none;
  color: #ffffff;
}

.creation-container {
  width: 1274px;
  height: 595px;
  background-image: url("../img/Joel&Ellie.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  align-items: end;
}

.creation-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.19%, #000000 100%);
}

.video-container {
  margin-bottom: 15px;
}

.creation-logo__img {
  width: 660px;
  height: 140px;
  margin-bottom: 30px;
  z-index: 3;
  position: relative;
}

.line-block__container {
  display: flex;
  justify-content: center;
}

.line-block {
  display: flex;
  justify-content: left;
  background-color: #ffffff;
  height: 1px;
  border-radius: 5px;
  width: 500px;
  opacity: 0.5;
  z-index: 3;
  position: relative;
}

.line-block__stripe {
  height: 1px;
  width: 100px;
  border-radius: 5px;
  background-color: #e3b100;
}

.trailer-attributes__container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  line-height: 44px;
  align-items: center;
}

.trailer__button {
  background-color: black;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2.5px);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border-style: none;
  z-index: 3;
  cursor: pointer;
}

.play-button {
  margin: 2px 0 0 5px;
  width: 14px;
  height: 20px;
  cursor: pointer;
}

.trailer__text {
  text-transform: uppercase;
  margin-left: 10px;
  z-index: 3;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.topic__title {
  margin-top: 35px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
}

.cards__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 320px;
  max-width: max-content;
  overflow-x: auto;
}

.cards__container::-webkit-scrollbar {
  display: none;
}

.cards {
  display: flex;
  width: max-content;
}

.card {
  margin-right: 24px;
  border-radius: 15px;
  width: 210px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card:hover {
  transform: scale(1, 1);
}

.card__container_opacity {
  opacity: 0;
  width: 210px;
  border-radius: 15px;
  height: 300px;
}

.card__container_opacity:hover {
  position: absolute;
  opacity: 1;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(15px);
}

.card__container_top-space {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px 0 20px;
}

.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card__star-img_top-space {
  width: 15px;
  height: 15px;
  margin-top: -2px;
}

.card__rate_top-space {
  margin-left: 5px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #e3b100;
}

.card__year_top-space {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  align-content: right;
}

.card__container_middle-space {
  margin: 45px 0 0 20px;
}

.card__season-text_middle-space {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.5);
}

.card__title-text_middle-space {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 1px;
}

.card__main-text_middle-space {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #e8e8e8;
}

.card__container_down-space {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.watch-button__container {
  width: 170px;
  height: 38px;
  background-color: #0059c1;
  border-style: none;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  transition: all 0.5s ease-in-out;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.watch-button__container:hover {
  background-color: #e38b00;
  color: rgb(255, 255, 255);
  transition: all 0.5s ease-in-out;
}

.card__play-button_down-space {
  width: 12px;
  height: 15px;
  margin-left: 16px;
}

.card__watch-text_down-space {
  text-transform: uppercase;
  margin-right: 16px;
}

.subscriptions-container {
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.membership-content__block {
  width: 500px;
  height: 250px;
  background-color: #0059c1;
  background: linear-gradient(
    90deg,
    rgba(0, 89, 193, 0.5) 0%,
    rgba(13, 0, 123, 0.5) 100%
  );
  border: 1px solid rgba(0, 89, 193, 0.5);
  border-radius: 12px;
  transform: scale(1.1, 1.1);
  opacity: 0.1;
}

.membership-content__block-main {
  transform: scale(1.2, 1.2);
  opacity: 1;
}

.membership-content__trial-text {
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 20px;
  padding: 5px 5px 0 5px;
  margin: 30px 3px 0 0;
}

ul {
  margin: 29px 0 16px 10px;
  font-size: 13px;
  line-height: 30px;
}

.membership-content__buttons-container {
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

.membership-content__buy-button,
.membership-content__buy-button_main {
  width: 120px;
  height: 35px;
  background-color: #e38b00;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  border-style: none;
  margin-right: 10px;
  transition: all 0.5s ease-in-out;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  justify-content: center;
  align-items: center;
}

.membership-content__buy-button_main:hover {
  background-color: #0059c1;
  border: 1px solid #e38b00;
  transition: all 0.5s ease-in-out;
}

.membership-content__trial-button,
.membership-content__trial-button_main {
  width: 120px;
  height: 35px;
  margin-right: 20px;
  background-color: #0059c1;
  background: linear-gradient(
    90deg,
    rgba(0, 89, 193, 0.5) 0%,
    rgba(13, 0, 123, 0.5) 100%
  );
  border: 1px solid #e38b00;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
}

.membership-content__trial-button_main:hover {
  border: 1px solid #e38b00;
  background-color: #0059c1;
  transition: all 0.5s ease-in-out;
}
