body {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.container {
  width: 1260px;
  height: 100%;
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.header__link-container {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.header__link-left_position {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.header__link-right_position {
  display: flex;
  justify-content: space-between;
  width: 230px;
}

.header__link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.7;
}

.header__link:hover {
  opacity: 1;
}

.hbo-logo:hover {
  cursor: pointer;
  opacity: 0.8;
}

.sign-in-button {
  width: 121px;
  height: 40px;
  background-color: #0059c1;
  border-radius: 12px;
  border-style: none;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.sign-in-button:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.2, 1.2);
  background-color: #ffffff;
  color: black;
}

.image-tlou-container {
  height: 595px;
  background-image: url("/img/Joel&Ellie.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  align-items: end;
}

.image-tlou-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.19%, #000000 100%);
}

.tlou-logo {
  width: 660px;
  height: 140px;
  margin-bottom: 30px;
  z-index: 3;
  position: relative;
}

.line-block-container {
  display: flex;
  justify-content: center;
}

.line-block {
  display: flex;
  justify-content: left;
  background-color: #ffffff;
  height: 2px;
  border-radius: 5px;
  width: 500px;
  opacity: 0.3;
  z-index: 3;
  position: relative;
}

.line-block-stripe {
  height: 2px;
  width: 100px;
  border-radius: 5px;
  background-color: #e3b100;
}

.trailer-attributes-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  line-height: 44px;
}

.trailer-button {
  background-color: black;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2.5px);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border-style: none;
  z-index: 3;
  cursor: pointer;
}

.play-button {
  margin: 2px 0 0 5px;
  width: 14px;
  height: 20px;
  cursor: pointer;
}

.trailer-text {
  text-transform: uppercase;
  margin-left: 10px;
  z-index: 3;
  cursor: pointer;
}

.hbo-original-title,
.subscriptions-title {
  margin-top: 90px;
}

.cards-container {
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.card-opacity-container {
  position: absolute;
  opacity: 0;
  width: 210px;
  border-radius: 15px;
  height: 300px;
  transition: all 0.2s ease-in-out;
}

.card-opacity-container:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(15px);
  transition: all 0.2s ease-in-out;
}

.card-up-space-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-up-space-star-img {
  width: 15px;
  height: 15px;
}

.card-up-space-rate {
  margin-left: 5px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #e3b100;
}

.card-up-space-year {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  align-content: right;
}

.card-middle-space-container {
  margin: 50px 0 0 20px;
}

.card-middle-space-season-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.5);
}

.card-middle-space-title-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 1px;
}

.card-middle-space-main-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #e8e8e8;
}

.card-down-space-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.watch-button-container {
  width: 170px;
  height: 38px;
  background-color: #0059c1;
  border-style: none;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.watch-button-container:hover {
  background-color: #e38b00;
  color: rgb(255, 255, 255);
  transition: all 0.5s ease-in-out;
}

.card-down-space-play-button {
  width: 12px;
  height: 15px;
}

.card-down-space-watch-text {
  text-transform: uppercase;
}

.card1 {
  margin-right: 15px;
  border-radius: 15px;
  background-image: url("/img/card2.png");
  width: 210px;
  height: 300px;
  transition: all 0.5s ease-in-out;
}

.card1:hover {
  transform: scale(1.2, 1.2);
  margin: 0 30px 0 15px;
}

.card2 {
  margin-right: 15px;
  border-radius: 15px;
  background-image: url("/img/card3.png");
  width: 210px;
  height: 300px;
  transition: all 0.5s ease-in-out;
}

.card2:hover {
  transform: scale(1.2, 1.2);
  margin: 0 30px 0 15px;
}

.card3 {
  margin-right: 15px;
  border-radius: 15px;
  background-image: url("/img/card4.png");
  width: 210px;
  height: 300px;
  transition: all 0.5s ease-in-out;
}

.card3:hover {
  transform: scale(1.2, 1.2);
  margin: 0 30px 0 15px;
}

.card4 {
  margin-right: 15px;
  border-radius: 15px;
  background-image: url("/img/card5.png");
  width: 210px;
  height: 300px;
  transition: all 0.5s ease-in-out;
}

.card4:hover {
  transform: scale(1.2, 1.2);
  margin: 0 30px 0 15px;
}

.card5 {
  margin-right: 15px;
  border-radius: 15px;
  background-image: url("/img/card6.png");
  width: 210px;
  height: 300px;
  transition: all 0.5s ease-in-out;
}

.card5:hover {
  transform: scale(1.2, 1.2);
  margin: 0 30px 0 15px;
}

.card6 {
  margin-right: 15px;
  border-radius: 15px;
  background-image: url("/img/card7.png");
  width: 210px;
  height: 300px;
  transition: all 0.5s ease-in-out;
  background-size: cover;
}

.card6:hover {
  transform: scale(1.2, 1.2);
  margin: 0 30px 0 15px;
}

.subscriptions-container {
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.subscriptions-container:hover .membership-content-block:not(:hover) {
  opacity: 0.1;
}

.membership-content-block {
  margin-right: 15px;
  width: 500px;
  height: 250px;
  background-color: #0059c1;
  background: linear-gradient(
    90deg,
    rgba(0, 89, 193, 0.5) 0%,
    rgba(13, 0, 123, 0.5) 100%
  );
  border: 1px solid rgba(0, 89, 193, 0.5);
  border-radius: 12px;
  transition: all 0.8s ease-in-out;
}

.membership-content-block:hover {
  transform: scale(1.3, 1.3);
  transition: all 0.8s ease-in-out;
}

.membership-trial-text {
  text-align: center;
}

ul {
  line-height: 35px;
}

.membership-buttons {
  display: flex;
  justify-content: end;
}

.membership-buy-button {
  width: 120px;
  height: 35px;
  background-color: #e38b00;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  border-style: none;
  margin-right: 10px;
}

.membership-buy-button:hover {
  background-color: #0059c1;
  border: 1px solid #e38b00;
  transition: all 0.5s ease-in-out;
}

.membership-trial-button {
  width: 120px;
  height: 35px;
  margin-right: 20px;
  background-color: #0059c1;
  background: linear-gradient(
    90deg,
    rgba(0, 89, 193, 0.5) 0%,
    rgba(13, 0, 123, 0.5) 100%
  );
  border: 1px solid #e38b00;
  border-radius: 12px;
  color: white;
  cursor: pointer;
}

.membership-trial-button:hover {
  border: 1px solid #e38b00;
  background-color: #0059c1;
  transition: all 0.5s ease-in-out;
}
